  .hero-img{
    background-image: url(https://images3.alphacoders.com/279/279465.jpg);
    height: 75vh;
    background-size: cover;
    background-position: center;
}

.hero-card{
  box-sizing: border-box;
  border-left: 10px solid black;
  font-family: 'Rajdhani', sans-serif;
}

.spill-card{
  height: 25vh;
  width: 45vh;
  bottom: -225px;
  right: 144px;
}

.spill-row{
  height: 40vh;
}

.thebottomcards{
  background-color: rgb(31, 61, 36);
}


.stickynavbar{
  background-color: rgb(0, 129, 0);
}

.secondrow{
  font-family: 'Rajdhani', sans-serif;
}
