  .hero-img{
    background-image: url(https://images3.alphacoders.com/279/279465.jpg);
    height: 75vh;
    background-size: cover;
    background-position: center;
}

.hero-card{
  box-sizing: border-box;
  border-left: 10px solid black;
  font-family: 'Rajdhani', sans-serif;
}

.spill-card{
  height: 20vh;
  width: 40vh;
  bottom: -225px;
  right: 144px;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(green, darkgreen);
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.spill-row{
  height: 40vh;
}

.thebottomcards{
  background-color: rgb(31, 61, 36);
}


.stickynavbar{
  background-color: rgb(0, 129, 0);
}

.secondrow{
  font-family: 'Rajdhani', sans-serif;
}

.spillbox{
  font-family: 'Rajdhani', sans-serif;
  margin-right: 2em;
  margin-left: 1.8em;
  margin-top: 1em;
}

.socialfooter{
  font-family: 'Rajdhani', sans-serif;
}

.funfact{
  font-family: 'Rajdhani', sans-serif;
}

.gradientstyle{
  background-image: linear-gradient(lightgreen, green, darkgreen);
}

.coolheader{
  font-family: 'Rajdhani', sans-serif;
}

.stickyheadtop{
  font-family: 'Rajdhani', sans-serif;
}

.motivation{
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   font-family: 'Rajdhani', sans-serif;
}